.toolbar {
    
}

.toolbar-main {
    position: absolute;
    padding: 15px 0 30px;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    color: white; 
    background: black;
}

.toolbar-nav {
    
}

.toolbar-nav a {

}

.toolbar-nav a:hover,
.toolbar a:active {    

}

/* @media only screen and (max-width: 995px) {
    
    .toolbar-nav {
        margin-top: 62px;
    }

    .toolbar-nav a {
        padding: 15px 15px 12px;
    }
}

@media only screen and (max-width: 768px) {

    .toolbar-nav {
        width: 60%;
    }
}  */