.gray-content-box {
    font-size: 1.2rem;
    background: rgb(235, 235, 235);
    border-radius: 8px;
    padding: 1.5rem;
    margin: 3rem;
    overflow: hidden;
}

.gray-content-box .line-spacing {
    padding: 1rem;
}

.gray-content-box .button-div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.gray-content-box .button-div button {
    background: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 7px;
    padding: 9px;
    color: rgb(112, 0, 112);
    border: 1px solid rgb(112, 0, 112);
    cursor: pointer;
}

.gray-content-box .button-div button:hover {
    background: rgb(112, 0, 112);
    color: white;
}

/* .individual-user-card {

} */


.login-inputs-div {
    /* display: flex; */
    margin: 0 15%;
    width: 60%;
    padding: 5%;
    background: rgb(235, 235, 235);
    border-radius: 10px;
}   

.login-inputs-div input{
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    /* margin: 15px; */
    margin: 25px 0;
    padding: 5px;
    display: block;
    /* padding: 5%; */
    width: 90%;
}

.login-and-register-btns {
    display: flex;
    justify-content: space-around;
}

.login-and-register-btns button {
    border-radius: 7px;
    padding: 10px 8px;
    font-size: 1.2rem;
    color: white;
    background: rgb(126, 0, 175);
    border: none;
}

.login-and-register-btns button:hover {
    cursor: pointer;
}

.edit-pencil {
    color: red;
    float: right;
    
}

.edit-pencil:hover {
    font-size: 25px;    
    cursor: pointer;
}

/* .patchable-inputs {

} */

.patchable-inputs input {
    color: green;
    padding: 4px;
    margin: 5px;
    background: rgb(235, 235, 235);
    border: none;
    border-bottom: 1px solid rgb(2, 2, 122);
    display: block;
    width: 70%;
}